<div class="fields single">
  <div class="one wide field">
    <div class="ui icon red basic button del-a"><i class="trash outline icon"></i></div>
  </div>
  <div class="three wide field">
    <input type="text" value="{{value}}" placeholder="値">
  </div>
  <div class="twelve wide field">
    <input type="text" value="{{text}}" placeholder="表記">
  </div>
</div>
