<div class="fields single">
  <div class="one wide field">
    <div class="ui icon red basic button del-a"><i class="trash outline icon"></i></div>
  </div>
  <div class="fifteen wide field">
    <input type="text" value="{{text}}" placeholder="表記">
  </div>
</div>
