- JSON.parse(q.value, {:symbolize_names => true}).each.with_index(1) do |v, i|
  .sel
    = radio_button_tag 'answer[text]', v[:value], a.text == v[:value], {id: "q#{i}"}
    label for="q#{i}" = v[:text]
